{% extends "layout/base.html.jinja2" %}

{% block title %}
    隨機森林模型分析結果
{% endblock %}

{% block link %}
    {{ super() }}
    <!-- 如果你需要額外的 CSS，可以加在這裡 -->
{% endblock %}

{% block main %}
    <h1 style="text-align: center;">結婚率與所得的預測分析</h1>

    <section style="margin-bottom: 40px;">
        <h2 style="text-align: center;">圖表一</h2>
        <div>
            <section>
                <h2>圖表一</h2>
                {{ fig1_html | safe }}
            </section>
            <section>
                <h2>圖表二</h2>
                {{ fig2_html | safe }}
            </section>
            <section>
                <h2>圖表三</h2>
                {{ fig3_html | safe }}
            </section>

        </div>
    </section>

{% endblock %}
