{% extends "layout/base.html.jinja2" %}

{% block title%}
職能發展學院-交通資訊
{% endblock%}

{% block link %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='css/traffic.css')}}">
{% endblock%}

{% block main %}

<div class="traffic-info">
  <div class="traffic-header">
    <h1>交通資訊</h1>
    <p>職能發展學院位於台北市內湖區，交通便利，您可以選擇以下方式前往：</p>
    <ul>
      <li>捷運：搭乘捷運文湖線至「內湖站」，轉乘公車或計程車前往。</li>
      <li>公車：多條公車路線可達，包括紅29、藍28等。</li>
      <li>自行開車：可透過國道1號或國道3號前往，並在校園附近停車場停車。</li>
      </ul>
  </div>

  <h2>我們的位置</h2>
  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3612.6113932870994!2d121.53577107537916!3d25.115012777764015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ac2a6d916fbb%3A0xf3c18549d04f207d!2z6Ie65YyX5biC6IG36IO955m85bGV5a246Zmi!5e0!3m2!1szh-TW!2stw!4v1749910990584!5m2!1szh-TW!2stw" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>"
  </div>
</div>

{% endblock%}