.table{
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 80%;
}

.even-table{
  display: flex;
  justify-content: center;
}

.even-table table {
  border-collapse: collapse;
  width: 80%;
}

.even-table {
  display: flex;
  justify-content: center;
  border-radius: 15px;
}
