<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>職能發展學院</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}"> </head>
<body>

    <div class="navbar">
        <div class="navbar-container container">
            <div class="navbar-brand">職能發展學院</div>
            <ul class="navbar-menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">課程規劃</a></li>
                <li><a href="#">最新消息</a></li>
                <li><a href="#">交通資訊</a></li>
                <li><a href="#">聯絡我們</a></li>
            </ul>
            <div class="menu-button">menu</div> </div>
    </div>

    <ul class="mobile-menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">課程規劃</a></li>
        <li><a href="#">最新消息</a></li>
        <li><a href="#">交通資訊</a></li>
        <li><a href="#">聯絡我們</a></li>
    </ul>

    <div class="main-content container">
        <h1>歡迎來到職能發展學院</h1>
        <p>這裡是網站的主要內容區域。您可以放置任何您想要的資訊。</p>
    </div>

    <script src="{{url_for('static', filename='js/index.js')}}"></script> </body>
</html>